/*
Color Palette
https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

--imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff;
*/

/* Global Styles
=========================================*/
body {
    color: #1d3557ff;
    margin: 0;
}
img {
    width: 300px;
}
a {
    color: #e63946ff;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
}

/* Profile
=========================================*/
header {
    background: #1d3557ff;
    color: #f1faeeff;
}

/* Projects
=========================================*/
.projects {
    background: #f1faeeff;
}
.projects a {
    color: #457b9dff;
}

.projects .btn {
    color: #1d3557ff;
    background: #457b9dff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(29, 53, 87, 60%);
}

/* Work Experience
=========================================*/
.work-experience {
    background: #a8dadcff;
}

/* Education
=========================================*/


/* Contact Info
=========================================*/
footer {
    background: #457b9dff;
    color: #f1faeeff;
}