/*
Color Palette
https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

--imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff;
*/

/* Global Styles
=========================================*/
img {
    width: 300px;
}

/* Profile
=========================================*/


/* Projects
=========================================*/


/* Work Experience
=========================================*/


/* Education
=========================================*/


/* Contact
=========================================*/