/*

Student:    Misko Valent
Date:       Sept 16, 2021

Filename:   styles.css
LastUpdated:Sept 29, 2021
  
Class:      DGL 203 - Advanced CSS
Instructor: Megan Wilson
Semester:   NIC 2021 Fall

Color Palette
https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

--imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff;
*/

/* Global Styles
=========================================*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #1d3557ff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.25;
}

img {
  width: 300px;
}

a {
  color: #e63946ff;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

h1,
h2 {
  font-family: "Comfortaa", cursive;
  margin: 0;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile
=========================================*/
header {
  background: #1d3557ff;
  color: #f1faeeff;
  text-align: center;
}

/* Projects
=========================================*/
.projects {
  background: #f1faeeff;
}
.projects a {
  color: #457b9dff;
}

.projects .btn {
  color: #1d3557ff;
  background: #457b9dff;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(29, 53, 87, 60%);
}

.project-item {
  overflow: hidden;
  border-bottom: 1px dashed #457b9dff;
  padding: 25px 0;
}

.project-item img {
  float: left;
  margin-right: 20px;
}

.project-item h3 {
  margin-top: 0;
}

/* Work Experience
=========================================*/
.work-experience {
  background: #a8dadcff;
}

.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

/* Education
=========================================*/
.education {
  background: #457b9dff;
  color: #f1faeeff;
}

/* Contact Info
=========================================*/
footer {
  /* background: #457b9dff;
  color: #f1faeeff; */
  text-align: center;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
}
